canvas {
	display: block;
	outline: 0px;
	margin-bottom: 1.5em;
}

#content {
	margin: 50px auto 0px auto;
	padding: 25px 25px 15px 25px;
	width: 640px;
	min-width: 300px;
	overflow: auto;
	border-left: 1px solid #444;
	border-top: 1px solid #444;
	border-right: 1px solid #333;
	border-bottom: 1px solid #333;
	background-color: #3d3d3d;
}
