{% extends "base.html" %}
{% load cms_tags %}
{% load menu_tags %}

{% block base_content %}

	<div class= "container">
	    <div class= "row">
			<div class= "span12">
				<div class= "welcome">Welcome to St Jude's Church, Wolverhampton</div>	   	
				<!-- Breadcrumb menu -->	
				{# show_breadcrumb "menus/breadcrumb.html" #}
			</div>
	    </div>
		
	    <div class= "row" > 
			<div class= "span8 panel left">	<!-- left class is not specified in css but is included in case specific formatting is required later -->
				{% placeholder 'left panel' %}
				{% block left_panel_content %}
				{% endblock %}
			</div>
	         
			<div class= "span4 panel right"> <!-- right class is not specified in css but is included in case specific formatting is required later	-->
				{% placeholder 'right panel' %}
				{% block right_panel_content %}
				{% endblock %}
			</div>
	    </div>
	</div>
	
{% endblock %}