{% load cms_tags sekizai_tags %}
{% load menu_tags %}

<html>
  <head>
 	{% render_block "meta" %}
	<!-- css stylesheets --> 
	{% block styles %}
		<link href="{{ MEDIA_URL }}css/sjchurch.css" rel="stylesheet">	
	{% endblock styles %}
	{% render_block "css" %}
  </head>
  <body>
	{% cms_toolbar %}
	
	<div class= "container">
		<div class="row">
			<div class ="span12 headerspace"></div>
		</div>	
		 
	    <div class= "row">
			<div class= "span12 background" style= "background-image: url('{{ MEDIA_URL }}img/churchBackground350.jpg');">
				<div class= "row">
					<div class ="span3"><img src="{{ MEDIA_URL }}img/SJChurch_logo.png"></div>
					<div class ="span7"><a href= "http://www.facebook.com/groups/2250389035/"><img src="{{ MEDIA_URL }}img/facebook.png" style="float:right"></a></div>
				</div>
				<div class= "row">		
					<div class= "span6 mission-statement">receiving, living, and sharing Christ as Lord</div>
				</div>
				<div class= "row">		
					<div class= "span10">
						<!-- Navbar menu -->
						{% show_menu 0 100 100 100 "menus/navbar.html" %}
						    {% placeholder 'banner' %}
							{% block banner_content %}
							{% endblock %}
					</div>
				</div>
	    	</div>
		</div>
	</div>
		
	{% block base_content %}
	{% endblock %}
	
	{% block base_footer %}
	<div class= "container">
		<div class="row">
			<div class= "span12 footer">
			© 2014: St Jude's Church, Wolverhampton.
			</div>
		</div>
	</div>
	{% endblock %}
	


	<!-- JavaScript -->
	<!-- <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js"></script> -->
	<script src="{{ MEDIA_URL }}js/jquery-1.9.1.min.js" type="text/javascript"></script> <!-- works with cloud carousel with .browser call removed NB NOT YET REMOVED FROM MINIFIED VERSION!!-->
	<script src="{{ MEDIA_URL }}js/jquery-ui.js" type="text/javascript"></script>


	{% render_block "js" %}

  </body>
</html>